*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .div-container {
    background-image: url(images/image1.png);
    height: 600px;
    width: 100%;
    background-position: center;
 }

 .div-items1 {
    background-color: #745130;
    position: relative;
    height: 70px;
    width: 80%;
    border-radius: 50px;
    margin-left: 200px;
    top: 50px;
 }

 .div-items2 {
    top: 20px;
    justify-content: center;
    position: absolute;
    left: 20px;
 }

 .div-items2 :nth-child(2) {
     top: 10px;
    justify-content: center;
    position: absolute;
    left: 30px;
    
 }